main {
	@media screen and (768px <=width<1280px) {
		section {
			&:nth-of-type(1) {
				img {
					grid-column: span 6;
				}
			}

			&:nth-of-type(4) {
				img {
					grid-column: span 6;
				}
			}
		}
	}

	@media screen and (1280px <=width) {
		section {
			&:nth-of-type(1) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _4 _5"
					"_3 _4 _5";
			}

			&:nth-of-type(2) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _2 _2";
			}

			&:nth-of-type(3) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _2 _2";
			}

			&:nth-of-type(4) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _4 _5"
					"_3 _4 _5";
			}
		}

		ul {
			display: initial;
		}

		li {
			margin-bottom: 1.75em;
		}
	}
}