main {
	h3 {
		padding-block: 0.75em;
	}

	article {
		box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
		background-color: var(--secondary-bg);
		border-radius: 0.5em;

		>:not(img) {
			padding-inline: 2rem;
		}
	}

	ul {
		padding-block: 2em;
	}

	@media screen and (768px <=width<1280px) {
		section {
			&:nth-of-type(2) {
				img {
					grid-column: span 6;
				}
			}

			&:nth-of-type(3) {
				article {
					grid-column: span 6;

					&:last-of-type {
						grid-column: 4/-4;
					}
				}
			}
		}
	}

	@media screen and (1280px <=width) {
		section {
			&:nth-of-type(1) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 _4";
			}

			&:nth-of-type(2) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 _4";
			}

			&:nth-of-type(3) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 _4"
					"_5 _6 .";
			}
		}
	}
}