main {
	h3 {
		text-align: left;
	}

	ul {
		list-style: none;
		row-gap: 2em;
	}

	li {
		display: grid;
		gap: 1em;
	}

	@media screen and (1280px <=width) {
		ul {
			display: initial;
		}

		li {
			margin-bottom: 1.75em;
		}

		section {
			&:nth-of-type(1) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _2 _2";
			}
		}
	}
}