main {
	padding-top: 3em;

	img {
		border-radius: 50%;
	}

	@media screen and (1280px <=width) {

		/* padding-inline: 9vw; */
		h2 {
			text-align: center;
		}

		span {
			font-size: larger;
		}

		section {
			&:nth-of-type(1) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 _4";

				h3 {
					white-space: pre-line;
					font-weight: bold;
				}

				img {
					width: 65%;
					margin: auto;
					/* height: auto; */
				}

				/* align-items: center; */
				/* grid-template-columns: repeat(9, 1fr); */
			}

			&:nth-of-type(2) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _2 ."
					"_3 _3 ."
					"_4 _4 .";
			}
		}
	}
}