main {
	padding-top: 3em;

	img {
		border-radius: 50%;
	}

	h3 {
		white-space: pre-line;
	}

	span {
		font-size: larger;
	}

	@media screen and (1280px <=width) {
		h2 {
			text-align: center;
		}

		section {
			&:nth-of-type(1) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 _4";

				img {
					width: 65%;
					margin: auto;
				}
			}

			&:nth-of-type(2) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _2 _5"
					"_3 _3 _5"
					"_4 _4 _5";

				h2 {
					text-align: left;
				}
			}
		}
	}
}