main {
	section {
		@media screen and (541px <=width<1280px) {
			img {
				width: 65%;
				justify-self: center;
			}
		}

		@media screen and (1280px <=width) {
			&:nth-of-type(1) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 _4";
			}

			&:nth-of-type(2) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 _4";
			}

			&:nth-of-type(3) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 _4";
			}

			&:nth-of-type(4) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 .";
			}
		}
	}
}