main {
    h1 {
        color: var(--regular-text);
        font-weight: bold;
    }

    h1+p {
        color: var(--regular-text);
        font-weight: bold;
    }

    section {
        &:nth-of-type(2) {
            img {
                border-radius: 50%;
            }
        }
    }

    @media screen and (1280px <=width) {
        h1+p {
            margin-bottom: 0;
            align-self: anchor-center;
            font-size: 2em;
        }

        section {
            &:nth-of-type(1) {
                margin-bottom: 2em;
                column-gap: 6em;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    "_1 _1 _2 _2";

                img {
                    height: auto;
                }

                h2 {
                    white-space: pre-line;
                }

                p:nth-of-type(3) {
                    font-size: 1.75em;
                    font-weight: bold;
                }

                ul {
                    font-size: 1em;
                }
            }

            &:nth-of-type(2) {
                margin-bottom: 2em;
                grid-template-columns: repeat(5, 1fr);
                grid-template-areas:
                    "_1 _1 _1 _1 _1"
                    "_2 _3 _4 _5 _6";

                img {
                    border-radius: 50%;
                }
            }

            &:nth-of-type(3) {
                grid-template-areas:
                    "_1 _1 _1"
                    "_2 _2 ."
                    "_3 _3 ."
                    "_4 _4 .";

                p {
                    &:first-of-type {
                        font-size: 1.35em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}