main {
	padding-top: 3em;

	h1 {
		position: static;
	}

	h3,
	h4 {
		font-weight: bold;
	}

	@media screen and (1280px <=width) {
		h3 {
			text-align: left;
		}

		section {
			&:nth-of-type(1) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _2 .";
			}

			&:nth-of-type(2) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _2 ."
					"_3 _3 .";
			}

			&:nth-of-type(3) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _2 ."
					"_3 _3 ."
					"_4 _4 ."
					"_5 _5 ."
					"_6 _6 ."
					"_7 _7 ."
					"_8 _8 ."
					"_9 _9 ."
					"_10 _10 ."
					"_11 _11 ."
					"_12 _12 ."
					"_13 _13 ."
					"_14 _14 ."
					"_15 _15 ."
					"_16 _16 .";
			}

			&:nth-of-type(4) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _2 ."
					"_3 _3 ."
					"_4 _4 ."
					"_5 _5 ."
					"_6 _6 ."
					"_7 _7 ."
					"_8 _8 ."
					"_9 _9 ."
					"_10 _10 ."
					"_11 _11 ."
					"_12 _12 ."
					"_13 _13 ."
					"_14 _14 ."
					"_15 _15 ."
					"_16 _16 ."
					"_17 _17 ."
					"_18 _18 ."
					"_19 _19 ."
					"_20 _20 ."
					"_21 _21 ."
					"_22 _22 ."
					"_23 _23 ."
					"_24 _24 .";
			}

			&:nth-of-type(5) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _2 ."
					"_3 _3 ."
					"_4 _4 ."
					"_5 _5 .";
			}

			&:nth-of-type(6) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _2 ."
					"_3 _3 ."
					"_4 _4 ."
					"_5 _5 .";
			}
		}
	}
}