main {
	section {
		img {
			width: 75%;
			clip-path: circle(50%);
			margin: 2em auto;
		}

		@media screen and (768px <=width<1280px) {
			&:nth-of-type(2) {
				article {
					grid-column: span 6;
				}
			}
		}

		@media screen and (1280px <=width) {
			&:nth-of-type(1) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 _4";
			}

			&:nth-of-type(2) {
				grid-template-columns: repeat(4, 1fr);
				grid-template-areas:
					"_1 _1 _1 _1"
					"_2 _3 _4 _5";
			}
		}
	}
}