main {
	@media screen and (768px <=width<1280px) {
		section {
			img {
				width: 65%;
				margin: auto;
			}
		}
	}

	@media screen and (1280px <=width) {
		section {
			&:nth-of-type(1) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _4 _6"
					"_3 _5 _7";
			}

			&:nth-of-type(2) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 .";
			}

			&:nth-of-type(3) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 _4";
			}

			&:nth-of-type(4) {
				grid-template-areas:
					"_1 _1 _1"
					"_2 _3 .";
			}

			ul {
				gap: 1.25rem;
			}
		}
	}
}