html {
	--primary-bg: hsl(180, 42%, 93%);
	--secondary-bg: white;
	--background-text: hsl(from var(--secondary-bg) h s calc(l/1.10));
	--terciary-bg: hsl(180, 100%, 16%);
	--text: hsl(0, 0%, 0%);
	--text-light: hsl(0, 0%, 20%);

	color: var(--text-light);
	background-color: rgb(244, 251, 255);
	scrollbar-color: var(--secondary-bg) var(--primary-bg);
}

:focus-visible {
	outline: var(--text) solid 4px;
}

h1 {
	color: white;
}

:is(h2, h3, strong) {
	/* color:#207399; */
	color: var(--text-light);
}

main {
	>img {
		/* filter: brightness(40%); */
	}
}

[aria-current="page"] {
	color: white;
    background-color: rgba(10, 118, 172, 0.719);
}