html {
	--primary-bg: hsl(180, 42%, 93%);
	--secondary-bg: hsl(180, 81%, 58%);
	--background-text: hsl(from var(--secondary-bg) h s calc(l/1.25));
	--terciary-bg: hsl(180, 100%, 16%);
	--text: hsl(0, 0%, 0%);
	--text-light: hsl(0, 0%, 0%);

	color: var(--text-light);
	background-color: var(--primary-bg);
	scrollbar-color: var(--secondary-bg) var(--primary-bg);
}

:focus-visible {
	outline: var(--text) solid 4px;
}

h1 {
	color: var(--primary-bg);
}

:is(h2, h3, strong) {
	color: var(--text);
}

main {
	>img {
		filter: brightness(40%);
	}
}