main {
	@media screen and (768px <=width<1280px) {
		section {
			grid-template-columns: repeat(12, 1fr);

			>* {
				grid-column: 1/-1;
			}
		}
	}

	@media screen and (1280px <=width) {
		section {
			>:nth-child(1) {
				grid-area: _1;
			}

			>:nth-child(2) {
				grid-area: _2;
			}

			>:nth-child(3) {
				grid-area: _3;
			}

			>:nth-child(4) {
				grid-area: _4;
			}

			>:nth-child(5) {
				grid-area: _5;
			}

			>:nth-child(6) {
				grid-area: _6;
			}

			>:nth-child(7) {
				grid-area: _7;
			}

			>:nth-child(8) {
				grid-area: _8;
			}

			>:nth-child(9) {
				grid-area: _9;
			}

			>:nth-child(10) {
				grid-area: _10;
			}

			>:nth-child(11) {
				grid-area: _11;
			}

			>:nth-child(12) {
				grid-area: _12;
			}

			>:nth-child(13) {
				grid-area: _13;
			}

			>:nth-child(14) {
				grid-area: _14;
			}

			>:nth-child(15) {
				grid-area: _15;
			}

			>:nth-child(16) {
				grid-area: _16;
			}

			>:nth-child(17) {
				grid-area: _17;
			}

			>:nth-child(18) {
				grid-area: _18;
			}

			>:nth-child(19) {
				grid-area: _19;
			}

			>:nth-child(20) {
				grid-area: _20;
			}

			>:nth-child(21) {
				grid-area: _21;
			}

			>:nth-child(22) {
				grid-area: _22;
			}

			>:nth-child(23) {
				grid-area: _23;
			}

			>:nth-child(24) {
				grid-area: _24;
			}
		}
	}
}